<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    
    <h1 class="text-center mt-5 mb-5 text-primary">Python Flask MySQL</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <!--USER NAME - NAME - PASSWORD - SAVE -->
                <form action="/user" method="POST">
                    <div class="row mb-3">
                        
                        <div class="col">
                            <label>User Name</label>
                            <input type="text" class="form-control mb-3" name="username">
                        </div>
                        
                        <div class="col">
                            <label>Name</label>
                            <input type="text" class="form-control mb-3" name="Name">
                        </div>

                        <div class="col">
                            <label>Password</label>
                            <input type="text" class="form-control mb-3" name="password">
                        </div>

                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>

                    </div>
                </form>
                <!--USER NAME - NAME - PASSWORD - SAVE ===END-->


                <!--TABLE-->
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Password</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </thead>
                

                <tbody>
                    {% for d in data %}
                        <tr><!--ROW--> 
                            <td>{{d.ID}}</td><!--COLS-->
                            <td>{{d.UserName}}</td>
                            <td>{{d.Name}}</td>
                            <td>{{d.Password}}</td>
                            <!--EDIT and DELETE buttons-->
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.ID}}" data-bs-toggle="modal" data-bs-target="#modal{{d.ID}}">Edit</button></td>
                            <td><a href="{{url_for('delete',id=d.ID)}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>   

                        <!--Modal Window-->
                        <div class="modal fade" id="modal{{d.ID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.UserName}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <!--Execution EndPoint Finish edditing section-->
                                    <form action="/edit/{{d.ID}}" method="post">
                                        <label>User Name</label>
                                        <input type="text" class="form-control mb-3" name="username" value="{{d.UserName}}">  
                                        
                                        <label>Name</label>
                                        <input type="text" class="form-control mb-3" name="Name" value="{{d.Name}}"> 

                                        <label>Password</label>
                                        <input type="text" class="form-control mb-3" name="password" value="{{d.Password}}">

                                </div>
                                <div class="modal-footer">
                                  
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                    </form>
                              </div>
                            </div>
                          </div>

                    {% endfor %}

                </tbody>
                
            </table>
            <!--TABLE===END-->

            </div>
        </div>
    </div>

</body>
</html>